/* styles.css */
.custom-checkbox {
    position: relative;
  }
  
  .custom-checkbox:hover::after {
    content: "✓";
    font-size: 24px;
    color: rgb(198, 198, 198);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  


  